<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property scope="context" name="LOG_PATTERN" value="%d{yyyy-MM-dd} %d{HH:mm:ss.SSS} [%-5level] [%X{MS_CORRELATTION_ID}] [%thread] %logger{36} %F.%L - %msg%n" />

    <!--输出到控制台-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!--输出到文件-->
    <appender name="appLogger" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>20MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name ="appLoggerAsync" class= "ch.qos.logback.classic.AsyncAppender">
        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold >0</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>512</queueSize>
        <!-- 添加附加的appender,最多只能添加一个 -->
        <includeCallerData>true</includeCallerData>

        <appender-ref ref ="appLogger"/>
    </appender>

    <logger name="com.wanghan.demo">
        <level value="info"></level>
        <appender-ref ref="appLoggerAsync" />
    </logger>

    <appender name="druid" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/druid.log</File>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/druid.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>20MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="druid-queue" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize>
        <appender-ref ref="druid"/>
        <includeCallerData>true</includeCallerData>
    </appender>


    <logger name="druid.sql.DataSource" level="DEBUG" additivity="false">
        <appender-ref ref="druid-queue"/>
    </logger>
    <logger name="druid.sql.Connection" level="DEBUG" additivity="false">
        <appender-ref ref="druid-queue"/>
    </logger>
    <logger name="druid.sql.Statement" level="DEBUG" additivity="false">
        <appender-ref ref="druid-queue"/>
    </logger>


    <logger name="RestGatewayLogger">
        <level value="info"/>
        <appender-ref ref="appLoggerAsync"/>
    </logger>

    <root level="info">
        <appender-ref ref="console" />
        <!--<appender-ref ref="file" />-->
    </root>

</configuration>